.devenv
.direnv
# .env
__pycache__/
.venv/
.DS_Store
.swp
.env
.env.dev.local
.env.test.local
.env.prod.local
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
research/.idea/misc.xml
research/.idea/modules.xml
research/.idea/research.iml
research/.idea/vcs.xml
research/.idea/workspace.xml
