.devenv
.direnv
# .env
__pycache__/
.venv/
.DS_Store
.swp
.env
.env.dev.local
.env.test.local
.env.prod.local
# Devenv
.devenv*
devenv.local.nix

# pre-commit
.pre-commit-config.yaml
.idea/.gitignore
.idea/ada.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
$HOME/.cache/
